<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<title>Giới thiệu - MixiFood</title>
</head>
<body>
	<div class="pt-5" layout:fragment="content">
		<section class="pt-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12 fs-5">
						<h5 class="text-center text-danger pt-3 pb-3">THÔNG BÁO</h5>
						<p>MixiFood xin thông báo hiện Shop KHÔNG có chương trình tri ân khách hàng nào bằng việc tặng nước hoa, quà, hoặc một vài
						sản phẩm khác như một số bạn đã nhận được thông tin.</p>
						
						<span>Các bạn lưu ý tránh để kẻ gian trục lợi làm ảnh hưởng uy tín của Shop nhé ạ</span>
						<p>Số điện thoại check đơn của nhân viên MixiFood lần lượt ở dưới đây. các bạn vui lòng kiểm tra tin nhắn hoặc cuộc gọi 
						check thông tin đơn hàng có khớp với các số này hay không nhé</p>
						
						<p class="text-danger"><i class="bi bi-telephone"> </i> Chi tiết xin liên hệ Hotline: 0819921989 - 0784121992 - 0384121992</p>
						
						<p>Bạn nào có tin nhắn hoặc cuộc gọi về việc nhân được quà tặng từ chương trình trì ân khách hàng vui lòng comment vào bài
						inbox hoặc gọi trực tiếp vào hotline giúp chúng mình.</p>
						
						<p>CÓ MỘT YÊU CẦU NHỎ TRONG LẦN NÀY, CÁC BẠN QUAY LẠI VIDEO BÓC KIỆN HÀNG GIÚP SHOP, TRONG TRƯỜNG HỢP ĐỔI TRẢ (ĐỐI VỚI SẢN
						PHẨM LÀ ÁO, YÊU CẦU PHẢI CÒN NGUYÊN TAG MAC), NHẬN THIẾU HÀNG, CÁC BẠN GỬI LẠI VIDEO ĐÓ VÀ INBOX PAGE MIXIFOOD ĐỂ ĐƯỢC HỖ TRỢ
						NHANH HẾT SỨC CÓ THỂ Ạ.</p>
						
						<p>Nếu có bất kì thắc mắc vui lòng inbox fanpage MixiFood để được giải đáp. Xin chân thành cám ơn và yêu thương rất nhiều</p>
						
						<p>Hiện tại bên shop CHƯA có bất cứ chương trình tri ân nào. Nếu có ưu đãi cũng sẽ được thông báo công khai trên các kênh
						CHÍNH THỨC VÀ DUY NHẤT sau đây:</p>						
					
						<p>Fanpage : <a th:href="@{https://www.facebook.com/mixifood}" style="text-decoration: none; color: #28bcbe;">https://www.facebook.com/mixifood</a></p>
						
						<p>Instagram : <a th:href="@{https://www.instagram.com/mixi_food/}" style="text-decoration: none; color: #28bcbe;">https://www.instagram.com/mixi_food/</a></p>
					
						<p>MixiFood xin vui lòng được phục vụ quý khách!</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>