<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<title>Điều khoản - MixiFood</title>
</head>
<body>
	<div class="pt-5" layout:fragment="content">
		<section class="pt-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12 pt-3 pb-3 fs-5">
					<p>Chúng tôi thu thập thông tin về bạn trong quá trình thanh toán tại cửa hàng của chúng tôi</p>
					
					<h3 class="fw-bold">Chúng tôi thu thập và lưu trữ điều gì</h3>
					
					<p>Trong khi bản vào trang web, chúng tôi sẽ theo dõi:</p>
					
					<ul>
						<li>Sản phẩm bạn đã xem: chúng tôi sẽ sử dụng cho, ví dụ, hiển thị sản phẩm bạn đã xem gần đây</li>
						<li>Vị trí, địa chỉ IP và loại trình duyệt: chúng tôi sẽ sử dụng cho các mục đích như ước tính thuế và giao hàng</li>
						<li>Địa chỉ giao hàng: Chúng tôi sẽ yêu cầu bạn điền điều này để chúng tôi có thể, ví dụ, ước tính chi phí giao hàng trước khi
						bạn đặt hàng, và gửi đơn hàng cho bạn!</li>						
					</ul>
					
					<p>Chúng tôi sẽ sử dụng cookies để theo dõi nội dung giỏ hàng trong khi bạn duyệt trang web của chúng tôi</p>
					
					<p>Chú ý: Bạn có thể muốn biết thêm chi tiết về chính sách cookie, và đường dẫn tới phần đó ở ngay đây.</p>
					
					<p>Khi bạn mua hàng từ chúng tôi, chúng tôi sẽ yêu cầu bạn cung cấp thông tin bao gồm tên, địa chỉ thanh toán, địa chỉ giao hàng,
					địa chỉ email, số điện thoại, credit card/thông tin thanh toán và thông tin tài khoản bổ sung như tên tài khoản và mật khẩu. Chúng
					tôi sử dụng thông tin này cho nhiều mục đích, ví dụ, như:</p>
					
					<ul>
						<li>Gửi cho bạn thông tin về tài khoản và đơn hàng mà bạn đã đặt</li>
						<li>Trả lời các yêu cầu của bạn, bao gồm cả việc hoàn lại tiền và khiếu nại</li>
						<li>Xử lý thanh toán và ngăn chặn gian lận</li>
						<li>Thiết lập tài khoản của bạn trên dịch vụ của chúng tôi</li>
						<li>Tuân thủ mọi quy định mà chúng tôi đặt ra, chẳng hạn như là bị tính thuế</li>
						<li>Cải thiện chất lượng dịch vụ bán hàng của cửa hàng chúng tôi</li>
						<li>Gửi cho bạn tin nhắn khuyến mãi, nếu bạn nhận được chúng</li>
					</ul>
				
					<p>Nếu bạn tạo 1 tài khoản, chúng tôi sẽ lưu lại tên, địa chỉ, email và số điện thoại, để sử dụng cho các lần thanh toán tiếp theo.</p>
					
					<p>Chúng tôi cũng sẽ lưu những nhận xét hoặc đánh giá, nếu bạn chọn hủy chúng.</p>
					
					<h3 class="fw-bold">Ai trong nhóm của chúng tôi có quyền truy cập</h3>
					
					<p>Thành viên trong nhóm chúng tôi có thể truy cập thông tin mà bạn cung cấp. Ví dụ, cả Quản lý và Chủ cửa hàng có thể truy cập:</p>
					
					<ul>
						<li>Thông tin đơn hàng như mua những gì, mua khi nào và gửi hàng tới đâu, và
						<li>Cung cấp thông tin khách hàng như tên, địa chỉ email, thông tin thanh toán, và địa chỉ giao hàng của bạn.</li>
					</ul>
					
					<p>Các thanh viên ở trong nhóm của chúng tôi có quyền truy cập vào thông tin này để giúp cho bạn thực hiện đơn hàng, xử lý tiền hoàn và 
					cũng như hỗ trợ cho bạn.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>